:root {
    --fondo-main:#181719;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .1s linear;
    scroll-behavior: smooth;
    color: white;
}
body{
    width: 100%;
    height: 100vh;
    background: var(--fondo-main);
}

/* Header */
.header{
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 100fr 1fr;
}
#sp-interior{
    font-family: 'Crimson Pro';
    border: 1px solid white;
    padding: .5rem;
}
.lbl-menu{
    position: relative;
    height: 30px;
    width: 50px;
    cursor: pointer;
}

.lbl-menu #sp1,#sp2,#sp3{
    position: absolute;
    content: '';
    background-color: white;
    height: 5px;
    width: 40px;
    transition: all .3s ease;
}
#sp2{
    top: 11px;
}
#sp3{
    top: 22px;
}
#btn-menu{
    display: none;
}
#btn-menu:checked ~ .header #sp-interior{
    display: none;
}
#btn-menu:checked ~ .lbl-menu #sp1 {
    transform: rotate(140deg);
    top: 10px;
}
#btn-menu:checked ~ .lbl-menu #sp2 {
    opacity: 0;
}
#btn-menu:checked ~ .lbl-menu #sp3 {
    transform: rotate(40deg);
    top: 10px;
}
#btn-menu:checked ~ .nav {
    display: grid;
}
/* Nav */
.nav{
    display: none;
}
.nav-links{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 80px;
    right: 0;
    display: grid;
    background-color: var(--fondo-main);
    place-items: center;
    list-style: none;
}
.nav a{
    color: white;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
    font-weight: bold;
}
.nav a:hover{
    border-bottom: 2px solid gold;
    color: white;
}

/* Main */
.section{
    padding: 2rem 1.5rem;
    display: grid;
    gap: 25px;
}
.h1{
    font-family: 'Lora';
    font-weight: 500;
    font-size: 36px;
}
.section .p , b{
    font-family: 'Montserrat';
    font-size: 14px;
}
.interiores{
    width: 100%;
    padding: 2rem 1.5rem;
    position: relative;
}

/* Articulo */
.relative{
    position: relative;
}
.section-articulo{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.articulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    background: darkgrey;
    width: 80%;
    margin: auto;
}
.img-perfil{
    height: 50px;
    border-radius: 100%;
    position: relative;
}
.articulo-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.perfil-nombre{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.articulo b{
    font-family: 'Lora';
    font-size: 18px;
}

/* Footer */
.footer{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 1.5rem 0;
}
.footer p, footer a{
    color: #BDBDBD;
    text-decoration: none;
    text-align: center;

}